.attachments_form {
	.attachments_fields {
		& > span {
			display: grid;
			grid-template-columns: 40px 1fr 1fr 40px;
			align-items: center;
			justify-content: center;
			gap: 6px;
			margin-bottom: 6px;
			input.filename,
			input.description {
				width: 100%;
				max-width: 100% !important;
			}
			svg, a {
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
}

#document-list {
	.document-group {
		.document-item {
			.title {
				line-height: 1.4em;
			}
		}
	}
}