@use "components";

#admin-menu {
	& > ul {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(min(15rem, 100%), 1fr));
		gap: 12px 16px;
		#sidebar-wrapper & {
			row-gap: 4px;
		}
		& > li {
			padding: 0;
			a {
				@include components.button;
				background-color: #f0f0f0;
				display: block;
				#sidebar-wrapper & {
					padding-top: 6px;
					padding-bottom: 6px;
				}
			}
		}
	}
}

#login-form {
	// background: var(--content--background);
	// border: 0 none;
	// box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
	margin: 2em auto;
	padding: 18px;
	width: 320px;
	border: 1px solid #d0d7de;
	background: #f9fafb;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05);
	input {
		height: auto;
		&[type=text], &[type=password] {
			margin-bottom: 18px;
		}
		&[type="submit"] {
			@include components.icon-colored( var(--blue), #fff, var(--blue-700) );
		}
	}
	
}