@use "components";

#admin-menu {
	& > ul {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(min(15rem, 100%), 1fr));
		gap: 12px 16px;
		#sidebar-wrapper & {
			row-gap: 4px;
		}
		& > li {
			padding: 0;
			a {
				@include components.button;
				background-color: #f0f0f0;
				display: block;
				#sidebar-wrapper & {
					padding-top: 6px;
					padding-bottom: 6px;
				}
			}
		}
	}
}