@mixin icon {
	color: var(--muidocs-palette-primary-500);
	// text-transform: uppercase;
	font-size: 0.875rem;
	// line-height: 1.75;
	letter-spacing: 0.02857em;
	display: inline-flex;
	align-items: center;
	gap: 2px;
}
@mixin button {
	height: auto;
	padding: var(--input--border--padding);
	border-radius: var(--input--border--radius);
	color: #fff;
	border: 1px solid var(--muidocs-palette-primary-600);
	background: var(--muidocs-palette-primary-500); // var(--grey);
	font-weight: 400;
	font-size: 1rem; // 0.875rem;
	line-height: 1.75;
	letter-spacing: 0; // 0.02857em;
	text-decoration: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 2px;
	transition: all 0.2s;
	// text-transform: uppercase;
	// box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
	position: relative;
	-webkit-tap-highlight-color: transparent;
	text-shadow: rgba(9, 11, 11, 0.6) 0px 1px 1px;
	// box-shadow: rgba(51, 153, 255, 0.5) 0px 1px 0px inset, rgba(0, 77, 153, 0.4) 0px -1px 0px 1px inset, rgba(9, 11, 11, 0.1) 0px 2px 4px 0px;
	svg.icon-svg {
		stroke: #fff;
		&.s12 {
			width: 1.25rem;
			height: 1.25rem;
		}
	}
	&:hover {
		background: var(--muidocs-palette-primary-700);
		// color: var(--muidocs-palette-primary-700);
		text-decoration: none;
		// svg.icon-svg {
		// 	stroke: var(--muidocs-palette-primary-700);
		// }
	}
	&.icon-del {
		color: #fff;
		border: 1px solid var(--muidocs-palette-error-700);
		background: var(--muidocs-palette-error-600); // var(--grey);
		&:hover {
			background: var(--muidocs-palette-error-800);
		}
	}
}

@mixin button-group {
	margin-top: 12px;
	margin-bottom: 12px;
}

@mixin icon-green {
	background: var(--muidocs-palette-success-700);
	border-color: var(--muidocs-palette-success-700);
	color: #fff;
	svg {
		stroke: #fff;
	}
	&:is(a), &:is(a:link) {
		&:hover {
			color: #fff;
			text-decoration: none;
			background-color: var(--muidocs-palette-success-800);
			svg {
				stroke: #fff;
			}
		}
	}
}

@mixin icon-colored( $color: var(--muidocs-palette-success-700), $colorSecondary: #fff, $hoverColor: var(--muidocs-palette-success-800) ) {
	background: $color;
	border-color: $color;
	color: $colorSecondary;
	svg {
		stroke: $colorSecondary;
	}
	&:hover {
		color: $colorSecondary;
		text-decoration: none;
		background-color: $hoverColor;
		svg {
			stroke: $colorSecondary;
		}
	}
	&:is(a), &:is(a:link) {
		&:hover {
			svg {
				stroke: $colorSecondary;
			}
		}
	}
}

@mixin input-wrapper {
	font-family: "Roboto", sans-serif;
	height: 44px;
	padding: 6px 10px;
	border-radius: var(--input--border--radius);
	background: #fff;
	font-weight: 400;
	font-size: 0.875rem;
	line-height: 1.25;
	letter-spacing: 0.02857em;
	border: 1px solid rgba(0, 0, 0, 0.3);
	appearance: auto;
	margin-top: 0;
	margin-bottom: 0;
	&.autocomplete {
		padding-left: 10px !important;
	}
	&[type="file"] {
		height: 44px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

@mixin select-wrapper {
	font-family: "Roboto", sans-serif;
	height: 42px;
	padding: 6px 10px;
	border-radius: var(--input--border--radius);
	background: #fff;
	font-weight: 400;
	font-size: 0.875rem;
	line-height: 1.75;
	letter-spacing: 0.02857em;
	border: 1px solid rgba(0, 0, 0, 0.3);
	appearance: auto;
	margin-top: 0;
	margin-bottom: 0;
}

// a[href].icon {
// 	background: red !important;
// }

.icon {
	@include icon;
	&:is(a), &:is(a:link) {
		@include button;
	}
	&:is(span) {
		& + span.icon {
			margin-left: 8px;
		}
	}
	&.icon-add {
		@include icon-colored( var(--muidocs-palette-success-700), #fff, var(--muidocs-palette-success-800) );
	}
	&.icon-checked {
		&:has(.icon-label:empty) {
			padding: 2px;
		}
	}
	&.icon-label {
		margin-left: 0;
		white-space: nowrap;
	}
	.icon-label {
		&:empty {
			display: none;
		}
	}
	.drdn .drdn-items > & {
		border: 0 none;
		&:hover {
			border: 0 none;
		}
	}
}

fieldset {
	legend {
		.icon {
			&.icon-checked {
				margin-right: 4px;
			}
		}
	}
	&.collapsible {
		& > legend {
			font-size: 0.875rem;
			&.icon {
				background-color: transparent;
				padding: 0 2px;
				border: 0 none;
			}
		}
	}
}

@mixin alert {
	padding: 16px 32px;
	border-radius: var(--input--border--radius);
	font-size: 1rem;
	svg.icon-svg {
		margin-left: 0;
	}
	&:has(svg) > svg.icon-svg {
		margin: 0 0 0 2px;
		position: relative;
		top: auto;
		right: auto;
	}
	ul {
		margin-top: 0;
		margin-bottom: 0;
		display: inline-block;
	}
}

#errorExplanation, 
div.flash, 
.nodata, 
.warning, 
.conflict {
	@include alert;
}

@mixin wiki {
	width: auto;
	border-radius: var(--input--border--radius);
	& > * {
		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
	p {
		padding: 0 !important;
		margin: 0.8em 0;
		font-size: 1rem;
		display: block;
	}
	pre {
		margin-left: 0;
		margin-right: 0;
	}
	ul, ol {
		padding-left: 20px;
	}
}

@mixin pagination {
	.pages {
		display: flex;
		li {
			margin: 0;
			border-radius: 0 !important;
			margin: 0  !important;
			border: 0 none !important;
			&:first-child,
			&:last-child {
				border-radius: 0;
			}
			&:not(:first-child):not(:last-child) {
				a, span {
					padding: 6px 12px;
				}
			}
			a, span {
				@include button;
				outline: 0 none;
				border-radius: 0;
				border-right: 0 none;
			}
			&:first-child {
				a, span {
					border-top-left-radius: var(--input--border--radius);
					border-bottom-left-radius: var(--input--border--radius);
				}
			}
			&:last-child {
				a, span {
					border-top-right-radius: var(--input--border--radius);
					border-bottom-right-radius: var(--input--border--radius);
					border-right: 1px solid;
				}
			}
			&.current {
				a, span {
					background: var(--blue--transparent);
				}
			}
			&:not(.current) {
				span {
					color: #1976d299;
				}
			}
		}
		& + span {
			display: none;
		}
	}
}

@mixin card {
	border-radius: 12px;
	padding: 16px;
}

.box {
	@include card;
	p {
		margin: 0.5em 0;
	}
	& > * {
		&:last-child {
			margin-bottom: 0;
		}
	}
}

@mixin query-totals {
	font-size: 0.875rem;
	display: block;
	float: none;
	padding-top: 10px;
}

.controller-timelog {
	.query-totals {
		@include query-totals;
	}
}

@mixin context-menu {
	z-index: 100;
	ul {
		padding: 0;
		li {
			border: 0 none;
			&:hover {
				border: 0 none;
				& > a {
					background: #eef5fd;
				}
			}
			a {
				height: auto;
				padding: 6px 8px;
				border-radius: 0;
				color: var(--muidocs-palette-primary-500);
				background: #fff;
				font-weight: 500;
				font-size: 0.875rem;
				line-height: 1.2em;
				letter-spacing: 0;
				text-transform: none;
				text-decoration: none;
				text-shadow: none;
				display: inline-flex;
				align-items: center;
				justify-content: flex-start;
				gap: 2px;
				transition: all 0.2s;
				svg.icon-svg {
					stroke: var(--muidocs-palette-primary-500);
				}
			}
		}
	}
	&.reverse-x {
		ul {
			li {
				&.folder {
					& > ul {
						right: 144px;
						bottom: -1px;
					}
				}
			}
		}
	}
}

@mixin label-on-top {
	position: relative;
	label {
		position: absolute;
		font-size: 0.8125rem;
    top: 0px; // border space
    left: 5px;
		transform: translate(0, -50%);
    background: #fff;
    padding-left: 5px;
    padding-right: 5px;
		background: linear-gradient(180deg,var(--content--background) 50%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);
		transition: color 0.1s;
		line-height: 1em;
	}
	&:has(select:focus-within) {
		label {
			color: #33333380;
		}
	}
}

.add-filter {
	@include label-on-top;
}

@mixin page-header {
	min-height: 42px;
}