@use "components";

#content {
	background: var(--content--background);
	padding: 32px 25px;
	// & > * {
	// 	max-width: var(--max-width);
	// 	margin-left: auto;
	// 	margin-right: auto;
	// }
	& > h2 {
		@include components.page-header;
	}
	.tabs {
		margin-bottom: 0;
		height: auto;
		ul {
			display: flex;
			border-bottom: 1px solid var(--border--default);
			padding: 0;
			position: relative;
			left: auto;
			bottom: auto;
			right: auto;
			top: auto;
			min-width: 0;
			width: auto;
			align-items: center;
			li {
				float: none;
				margin: 0;
				&::before {
					display: none;
				}
				a {
					border: 0 none;
					border-bottom: 2px solid transparent;
					font-size: 0.875rem;
					font-weight: 400;
					height: auto;
					padding: 6px 16px;
					text-transform: uppercase;
					line-height: 1.75;
					letter-spacing: 0.02857em;
					text-transform: uppercase;
					text-decoration: none;
					display: block;
					&.selected {
						border: 0 none;
						border-bottom: 2px solid var(--muidocs-palette-primary-500);
						box-shadow: none;
					}
				}
			}
		}
		&.jstTabs {
			margin-bottom: 0 !important;
			ul li {
				height: auto;
				&::before {
					display: none;
				}
				a {
					display: block;
				}
			}
		}
	}
	#activity {
		& > h3 {
			background: transparent;
			padding: 0;
			margin-top: 1em;
		}
		dl {
			margin-left: 0;
			display: flex;
			gap: 0;
			flex-direction: column;
			dt {
				border-radius: 4px 4px 0 0;
				border: 1px solid var(--muidocs-palette-primary-500);
				border-bottom: 0 none;
				align-items: center;
				padding: 10px 16px 0;
				&:first-child {
					border-top: 1px solid var(--muidocs-palette-primary-500);
					border-bottom: 0 none;
				}
			}
			dd {
				border: 1px solid var(--muidocs-palette-primary-500);
				border-top: 0 none;
				border-radius: 0 0 4px 4px;
				margin-left: 0;
				display: block;
				padding: 4px 16px 10px 40px;
				font-size: 0.875rem;
			}
		}
	}
	.pagination {
		@include components.pagination;
	}
	.tabular {
		& > p, p {
			display: grid;
			grid-template-columns: 175px auto;
			gap: 4px 16px;
			padding: 0;
			clear: none;
			min-height: 0;
			float: none;
			& + p {
				margin-top: 0.5em;
			}
			input + span, 
			input + em,
			.assign-to-me-link, 
			&#watchers_form .search_for_watchers {
				grid-column: 2 / 3;
			}
			&#issue_is_private_wrap {
				label {
					grid-area: 1 / 1 / 2 / 2;
				}
				#issue_is_private {
					grid-column: 2 / 3;
				}
				// grid-template-columns: auto 1fr;
				// gap: 0;
			}
		}
		label {
			font-weight: 500;
			float: none;
			margin-left: 0;
			width: auto;
			line-height: 1.2em;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			gap: 2px;
			font-size: 0.875rem;
			&[for="issue_description"],
			&[for="project_description"] {
				padding-top: 44px;
				align-items: flex-start;
			}
			&.block, 
			&.inline {
				justify-content: flex-start;
				grid-column: 2 / 3;
				input[type="checkbox"] {
					height: 20px;
				}
			}
		}
		span {
			label {
				justify-content: flex-start;
			}
		}
		// .info {
		// 	grid-column: 2 / 3;
		// }
		input[type="checkbox"] {
			height: 32px;
			text-align: left;
			justify-self: start;
			align-self: center;
		}
		input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]), 
		select, 
		textarea {
			width: 100%;
			max-width: 100%;
			margin: 0;
			&[type="checkbox"] {
				align-self: start;
			}
		}
		.wiki.wiki-preview {
			padding: 16px;
			@include components.wiki;
		}
	}
	.note-header {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.time_entry {
		.note {
			.contextual {
				padding-top: 8px;
			}
			.details {
				padding-left: 20px;
				color: #333;
				&::before {
					content: "";
					clear: both;
					display: block;
				}
			}
		}
	}
	.contextual {
		margin-top: 0;
		margin-right: 0;
		font-weight: 400;
		display: inline-flex;
		gap: 4px;
		align-items: center;
		// & > * {
		// 	margin: 0;
		// 	&.icon:is(a), 
		// 	&.icon:is(a:link) {
		// 		border-radius: 0;
		// 		&:first-of-type {
		// 			border-top-left-radius: var(--input--border--radius);
		// 			border-bottom-left-radius: var(--input--border--radius);
		// 		}
		// 		&:last-of-type {
		// 			border-top-right-radius: var(--input--border--radius);
		// 			border-bottom-right-radius: var(--input--border--radius);
		// 		}
		// 	}
		// 	&.drdn {
		// 		margin-left: 10px;
		// 	}
		// }
	}
	#context-menu {
		@include components.context-menu;
	}
}

.jstBlock {
	.jstEditor {
		textarea {
			border-top-left-radius: 0;
		}
	}
}