@use "components";

#header {
	// order: -1;
	position: sticky;
	top: 0;
	background: #1d2d44;
	min-height: 0;
	padding: 22px 25px;
	display: flex;
	flex-wrap: wrap;
	gap: 16px 8px;
	justify-content: space-between;
	align-items: center;
	z-index: 99;
	&:has(> #main-menu) {
		padding-bottom: 0;
	}
	h1 {
		margin: 0;
		padding: 0;
		font-size: 1.25rem;
		font-weight: 400;
		order: -1;
	}

}

#main-menu {
	position: relative;
	margin: 0;
	left: auto;
	bottom: auto;
	& > ul {
		display: flex;
		gap: 0;
		align-items: flex-end; 
	}
	li {
		a {
			@include components.button;
			border-top: 3px solid transparent;
			border-left: 0;
			border-right: 0;
			border-bottom: 3px solid transparent;
			border-radius: 0;
			background-color: transparent;
			color: #fff;
			font-weight: 400;
			// font-size: 0.875rem;
			// padding: 6px 12px;
			&.selected, 
			&.selected:hover,
			&:hover {
				background-color: transparent;
				border-bottom-color: #fff; // var(--blue);
				color: #fff; // var(--blue);
				font-weight: 400;
			}
			&#new-object {
				background-color: #3e5c76;
				border-top: 0 none;
				border-bottom: 0 none;
				padding: 9px 13px;
			}
		}
		.menu-children {
			li {
				a {
					display: block;
				}
			}
		}
	}
}

#quick-search {
	display: flex;
	gap: 6px;
	#q {
		@include components.input-wrapper;
		border: 0 none;
		float: none;
	}
	form {
		float: none;
		label {
			font-size: 0;
			a {
				font-size: 0.875rem;
				padding-right: 8px;
			}
		}
	}
}

#project-jump {
	.drdn-trigger {
		@include components.input-wrapper;
		border: 0 none;
		padding: 7px 6px;
	}
}