@use "components";

#my-page {
	.mypage-box {
		@include components.card;
		& > h3 {
			padding-left: 4px;
		}
		& > .contextual {
			opacity:0.001; 
			transition: opacity 0.2s;
		}
		&:hover > .contextual {
			opacity:1;
		}
	}
}