@use "components";

#projects-index {
	ul.projects {
		& > li {
			&.root,
			&.child {
				@include components.card;
				position: relative;
				transition: background-color 0.2s;
				padding: 0;
				display: flex;
				flex-direction: column;
				gap: 0;
				& > div {
					position: relative;
					padding: 16px;
					& > a {
						&[href]::before {
							content: "";
							position: absolute;
							top: 0;
							left: 0;
							right: 0;
							bottom: 0;
						}
						&:hover {
							color: inherit;
							text-decoration: none;
							// &::before {
							// 	background: #f0f0f0;
							// }
						}
						&.project {
							color: var(--muidocs-palette-primary-500);
							padding: 0;
							border: 0 none;
							background-color: transparent;
							text-transform: none;
							font-weight: 500;
							display: inline-block;
							text-shadow: none;
							margin-bottom: 0.25em;
							position: static;
							transition: color 0.2s;
							&:hover {
								color: var(--muidocs-palette-primary-800);
							}
						}
						
					}
					svg {
						stroke: var(--muidocs-palette-primary-500);
						margin-bottom: 0.25em;
					}
				}
			}
			&.root {
				background: #f9fafb;
				box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
			}
			&.child {
				background: #fff;
				border: 1px solid #d0d7de;
				border-radius: 8px;
				margin-top: 8px;
				box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.1), 0px 1px 1px 0px rgba(0, 0, 0, 0.07), 0px 1px 3px 0px rgba(0, 0, 0, 0.06);
				&:first-child {
					margin-top: 0;
				}
				& > div {
					padding: 10px 12px;
				}
			}
			.wiki.description {
				padding: 0;
				@include components.wiki;
			}
		}
		&:not(.root) {
			margin-top: 0;
			padding: 0 16px 16px !important;
			border-left: 0 none !important;
		}
	}
}


fieldset#filters {
	& > div {
		display: flex;
		gap: 16px;

		& > div {
			float: none;
			width: auto;
		}
	}
	#filters-table {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		gap: 4px;
		.filter {
			margin: 0;
			align-items: center;
			// & + .filter {
			// 	margin-top: 4px;
			// }
		}
		.field {
			min-width: 100px;
			width: auto;
			display: flex;
			align-items: center;
		}
	}
}

#query_form {
	&::before {
		content: "";
		display: block;
		clear: both;
	}
}

#query_form_with_buttons {
	margin-top: 1em;
	margin-bottom: 1em;
	& > p.contextual {
		@include components.button-group;
	}
}

#query_form_content {
	font-size: 0.875rem;
}