@use "components";

#projects-index {
	.projects.root {
		& > .root {
			position: relative;
			transition: background-color 0.2s;
			&:hover {
				background-color: #f0f0f0;;
			}
			a {
				&[href]::before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
				}
				&:hover {
					color: inherit;
					text-decoration: none;
				}
				&.project {
					padding: 0;
					border: 0 none;
					background-color: transparent;
					text-transform: none;
					font-weight: 500;
					display: inline-block;
				}
			}
			.wiki.description {
				padding: 0;
				@include components.wiki;
			}
		}
	}
	ul.projects div.root a.project {

	}
}


fieldset#filters {
	& > div {
		display: flex;
		gap: 16px;

		& > div {
			float: none;
			width: auto;
		}
		#filters-table {
			.filter {
				margin: 0;
				align-items: center;
			}
			.field {
				width: auto;
				display: flex;
				align-items: center;
			}
		}
	}
}

div.issue {
	padding: 16px;
	background-color: #f7fff8;
	margin-top: 16px;
	&::before {
		content: "";
		display: block;
		clear: both;
	}
	.attributes {
		.attribute {
			// background: red;
			padding-left: 0;
			display: grid;
			grid-template-columns: 120px 1fr;
			.label {
				width: auto;
				margin-left: 0;
				float: none;
				overflow: visible;
			}
			&.status {
			}
			&.progress {
				p.percent {
					line-height: 20px;
				}
			}
		}
	}
}

#query_form {
	&::before {
		content: "";
		display: block;
		clear: both;
	}
}

#query_form_with_buttons {
	margin-top: 1em;
	margin-bottom: 1em;
}

#query_form_content {
	font-size: 0.875rem;
}