#sidebar {
	padding-left: 20px;
	padding-right: 20px;
	#sidebar-wrapper {
		select, 
		input:not([type="submit"]):not([type="checkbox"]) {
			display: block;
			width: 100%;
		}
	}
	ul {
		font-size: 0.875rem;
	}
	.icon {
		&.selected {
			margin: 0;
			padding-left: 12px;
			padding-right: 12px;
		}
	}
}