@use "components";

:root {
	--fonts-main: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
	padding: 0;
	margin: 0 0 0.6em;
}

a, a:link, a:visited {
	color: var(--muidocs-palette-primary-500);
	text-decoration: none;
}
a:hover, a:active {
	color: var(--muidocs-palette-primary-800);
}
ul, ol {
	padding-left: 20px;
}

table {
	&.list {
		font-size: 0.875rem;
		border: 0 none;
		border-radius: 10px;
		border-collapse: collapse;
    border-spacing: 0px;
		box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
		background-image: linear-gradient(rgba(255 255 255 / 0.051), rgba(255 255 255 / 0.051));
		thead {
			tr {
				th, td {
					background: #fff;
					border-bottom: 1px solid var(--mui-palette-TableCell-border, rgba(224, 224, 224, 1));
				}
			}
		}
		th {
			font-weight: 600;
			text-align: left;
			line-height: 1.5rem;
			font-size: 0.875rem;
			padding: 14px 16px;
			// background: #fff;
			border: 0 none;
			text-transform: capitalize;
			.icon {
				display: inline-flex;
				padding: 0;
				border: 0 none;
				background-color: transparent;
				color: var(--muidocs-palette-primary-500);
				text-shadow: none;
				font-weight: 600;
				font-size: 0.875rem;
				&:hover {
					background-color: transparent;
					color: var(--muidocs-palette-primary-800);
				}
			}
			a {
				&:has(svg) {
					display: flex;
					gap: 0px;
					svg {
						order: 2;
					}
				}
				&.sort {
					padding-right: 0;
				}
				.icon-label {
					margin-left: 0;
				}
			}
		}
		td {
			text-align: left;
			padding: 12px 16px;
			border: 0 none;
			&.id {
				text-align: left;
			}
			&.checkbox {
				padding: 16px;
			}
			&.odd {
				&:hover {
					background: rgba(0, 0, 0, 0.04);
				}
			}
			input[type="checkbox"] {
				height: 16px;
			}
			a {
				font-weight: 400;
			}
		}
		th, td {
			&.buttons {
				display: table-cell;
			}
		}
		.wiki {
			padding: 0;
			@include components.wiki;
		}
	}
	&.issues {
		tr.issue {
			// &.priority-1 {
			// 	background: var(--blue-100);
			// }
			&.priority-3 {
				background: var(--muidocs-palette-error-100); // rgba(251,105,98, 0.1);
			}
			&.priority-4 {
				background: var(--muidocs-palette-error-200); // rgba(251,105,98, 0.1);
			}
			&.priority-5 {
				background: var(--muidocs-palette-error-300); // rgba(251,105,98, 0.1);
			}
		}
		
	}
	&.progress {
		border-radius: 100px;
    overflow: hidden;
		td {
			&.closed {
				background: rgb(0, 202, 114) none repeat scroll 0%;
			}
		}
	}
	&.time-entries {
		td {
			&.hours {
				text-align: left;
			}
		}
	}
	
	th, td {
		position: relative;
		border: 0 none;
		a {
			&:only-child {
				display: block;
			}
		}
	}
}

table.list:not(.odd-even) tbody tr:nth-child(even), 
.even, 
#issue-changesets div.changeset:nth-child(even) {
	background-color: var(--muidocs-palette-secondary-50);
}

input:not([type="submit"]):not([type="radio"]):not([type="checkbox"]) {
	@include components.input-wrapper;
}

input[type="submit"] {
	@include components.button;
	&[value="Create"] {
		@include components.icon-green;
	}
}

textarea {
	padding: 10px 6px;
	border-radius: var(--input--border--radius);
	border: 1px solid rgba(0, 0, 0, 0.3);
}

select {
	@include components.select-wrapper;
}

.buttons {
	@include components.button-group;
	font-size: 0.875rem;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 6px;
	& > .icon:not(:first-child) {
		margin-left: 0;
	}
}

.badge {
	position: relative;
	font-weight: bold;
	font-size: 0.875rem;
	bottom: 2px;
	padding: 4px 8px;
	margin-right: 10px;
	margin-left: 10px;
	border-radius: 4px;
	text-transform: uppercase;
	text-decoration: none;
	user-select: none;
}