@use "components";

:root {
	--fonts-main: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
	padding: 0;
	margin: 0 0 0.6em;
}

table {
	&.list {
		th {
			font-weight: 400;
			text-transform: uppercase;
		}
	}
}

input[type="submit"] {
	@include components.button;
	&[value="Create"] {
		@include components.icon-green;
	}
}